<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Watermarking</title>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Image Watermarking</h1>
    <form id="imageForm" enctype="multipart/form-data">
        <label for="coverImage">Cover Image </label>
        <input type="file" name="coverImage" accept="image/*" required>
        <label for="watermarkImage">Watermark Image</label>
        <input type="file" name="watermarkImage" accept="image/*" required>
        <label for="applyButton">Watermarked Image :</label>
        <input type="button" id="applyButton" name="applyButton" value="Apply Watermarking"> 
    </form>
    
    <img id="watermarkedImage" src="" alt="Watermarked Image">
    <button id="downloadButton">Download Watermarked Image</button>

    <script>
        const form = document.getElementById('imageForm');
        const applyButton = document.getElementById('applyButton');
        const watermarkedImage = document.getElementById('watermarkedImage');
        const downloadButton = document.getElementById('downloadButton');
        form.addEventListener('change', (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            fetch('/applyWatermark', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                watermarkedImage.src = data.watermarked_img;
            });
        });
        applyButton.addEventListener('input', () => {});
        downloadButton.addEventListener('click', () => {
            const imageUrl = watermarkedImage.src;
            if (imageUrl) {
                const downloadLink = document.createElement('a');
                downloadLink.href = imageUrl;
                downloadLink.download = 'watermarked_image.jpg';
                // Trigger a click on the link to start the download
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        });
    </script>
</body>
</html>
