<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Credentials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='check-credential.css') }}">
</head>
<body>
    <!-- it will ask the user to enter his wallet address and private key -->
    <form action="{{ url_for('extendValidity') }}" method="POST">
        <div>
            <label for="wallet_address">Wallet Address</label>
            <input type="text" name="wallet_address" id="wallet_address" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
