<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance DRM portal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload-marksheet.css') }}">

</head>
<body>
    <form id="marksheetForm" enctype="multipart/form-data">
        <label for="userId">Scholar Number </label>
        <input type="text" name="userId" required>
        <label for="validity">Enter Validity in days</label>
        <input type="number" name="validity" required>
        <button type="submit" id="marksheetSubmit" value="Submit">Submit</button>
    </form>
    <h3 id="Success"></h3>
    <!-- Loading overlay HTML -->
    <div id="loadingOverlay" style="display: none;">
        <div id="loadingSpinner"></div>
    </div>

    <script>
        const submitButton = document.getElementById('marksheetSubmit');
        const loadingOverlay = document.getElementById('loadingOverlay');

        submitButton.addEventListener('click', (event) => {
            event.preventDefault();
            loadingOverlay.style.display = 'flex'; // Show loading overlay
            const formData = new FormData(marksheetForm);
            fetch('/extendedValidity', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if( data.Success){
                    loadingOverlay.style.display = 'none'; // Hide loading overlay
                    Success.innerHTML = "Validity extended successfully";
                } else {
                    loadingOverlay.style.display = 'none'; // Hide loading overlay
                    Success.innerHTML = "Validity extension failed";
                }
            });
        });
    </script>
</body>
</html>
