<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Watermark</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='extract-watermark.css') }}">
</head>
<body>
    <h1>Extract Watermark From Image</h1>
    <form id="imageForm" enctype="multipart/form-data">
        <label for="watermarkedImage">Watermarked Image:</label>
        <label for="upload" class="custom-file-upload">
            Upload Image
        </label>
        <input type="file" id="upload" name="watermarkedImage" accept="image/*" required>
        <div id="loadingOverlay">
            <div class="spinner"></div>
        </div>
    </form>    
    <img id="watermark" src="" alt="watermark" style="display: none;" >
    <script>
        const form = document.getElementById('imageForm');
        const watermarkImage = document.getElementById('watermark');
        const loadingOverlay = document.getElementById('loadingOverlay');

        form.addEventListener('change', (event) => {
            event.preventDefault();
            loadingOverlay.style.display = 'flex';
            
            const formData = new FormData(form);
            fetch('/extractWatermark', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                watermarkImage.style.display = 'block';
                watermarkImage.src = data.watermark;
                loadingOverlay.style.display = 'none';
            });
        });
    </script>
</body>
</html>
