<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance DRM</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the MarkSheet Sharing System</h1>
    </header>
    <div >
        <a href="{{ url_for('upload') }}"><button>Upload Mark Sheet</button></a>
    </div>
    <div >
        <a href="{{ url_for('linkedInlogin') }}"><button >Get Your Mark Sheet</button></a>
    </div>
    <div >
        <a href = "{{url_for('applyWatermark')}}"><button >Apply Watermark To Image</button></a>
    </div>
    <div >
        <a href = "{{url_for('extractWatermark')}}"><button >Extract Watermark From Image</button></a>
    </div>
    <div >
        <a href = "{{url_for('validDocument')}}"><button >Document Validator</button></a>
    </div>
</body>
</html>
